/chapter01/node_modules/*
/chapter03/node_modules/*
/chapter04/node_modules/*
/chapter05/node_modules/*
/todo/node_modules/*
/tdd-app/node_modules/*
/chapter07/node_modules/*
/chapter08/node_modules/*
/chapter09/node_modules/*
/chapter10/node_modules/*
/cypress-realworld-app/node_modules/*